<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>อุทยานแหง่ชาติ</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>อุทยานแห่งชาติ</title>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../bower_components/css/style.css" rel="stylesheet" />
    <link href="../bower_components/album/album.css" rel="stylesheet">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Mitr" rel="stylesheet">


</head>

<body>

    <style media="screen">
        body {
            font-family: 'Mitr', sans-serif;
        }
    </style>

    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>อุทยานแห่งประเทศไทย</h4>

                    </div>

                </div>
            </div>
        </header>

        <section class="menu-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-collapse collapse ">
                            <ul id="menu-top" class="nav navbar-nav navbar-right">
                                <li><a href="home">หน้าหลัก</a></li>
                                <li><a href="map">แผนที่</a></li>
                                <li><a href="contact">ติดต่อเรา</a></li>
                                <li><a id="loginstatus" onclick="loginButton()">ลงชื่อเข้าใช้</a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- MENU SECTION END-->
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="title" class="page-head-line"></h4>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="panoramaclick">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="detail">
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="modal fade" id="modalLogin" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" style="width: 800px; height: 550px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-primary">ลงชื่อเข้าใช้สำหรับแอดมิน</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="well">
                                    <form>
                                        <div class="form-group">
                                            <label for="username" class="control-label">Username</label>
                                            <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                            <span class="help-block"></span>
                                        </div>
                                        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
                                        <div class="checkbox">

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <h5 class="text-center" style="color: #ff0000;"><b id = "txtError"></b></h5>
                        <button onclick="checkLogin()" class="btn btn-success btn-block">ลงชื่อเข้าใช้</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalLogout" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>ลงชื่อออก <i class="fa fa-lock"></i></h4></div>
                    <div class="modal-body"><i class="fa fa-question-circle"></i>คุณต้องการจะลงชื่อออกใช่หรือไม่</div>
                    <div class="modal-footer"><a onclick="logout()" class="btn btn-primary btn-block">ออกจากระบบ</a></div>
                </div>
            </div>
        </div>

    </body>
    <script>
        $(function() {
          checkStatus();
            //var id = window.localStorage.getItem("id")
            //console.log("id: " + id);
            $.getJSON("/apii/getdetail", function(result) {
                $("#title").text(result[0].park_name);
                var info = "<h4>ข้อมูลทั่วไป</h4> <p>" + result[0].park_info + "</p> <br>";
                var position = "<h4>ตำแหน่งที่อยู่</h4> <p>" + result[0].park_position + "</p> <br>";
                var master = "<h4>หัวหน้าอุทยานแห่งชาติ</h4> <p>" + result[0].park_master + "</p> <br>";
                var terrain = "<h4>ลักษณะภูมิประเทศ</h4> <p>" + result[0].park_terrain + "</p> <br>";
                var climate = "<h4>ลักษณะภูมิอากาศ</h4> <p>" + result[0].park_climate + "</p> <br>";
                var wildlife = "<h4>พืชพรรณไม้และสัตว์ป่า</h4> <p>" + result[0].park_wildlife + "</p> <br>";
                var interesting = "<h4>จุดที่น่าสนใจ</h4> <p>" + result[0].park_interesting + "</p> <br>";
                var travelling = "<h4>การเดินทาง</h4> <p>" + result[0].park_travelling + "</p> <br>";
                var reference = "<h4>อ้างอิง</h4> <p>" + result[0].park_reference + "</p> <br>";
                $("#detail").append(info + position + master + terrain + climate + wildlife + interesting + travelling + reference);
                if(result[0].park_id == 1){
                  console.log("park id = : " + result[0].park_id);
                  $("#panoramaclick").append("<button type='button' class='btn btn-info pull-right' onclick= 'showPanorama()' >panorama</button>")

                }

            });


        });
        function showPanorama(){
          window.open("/panorama", "_blank","toolbar = yes,scrollbars=yes,resizable=yes");
        }
        function checkStatus() {
            if (window.localStorage.getItem('status') == "admin") {
                $("#loginstatus").text("ลงชื่อออก");
            } else {
                $("#loginstatus").text("ลงชื่อเข้าใช้");
            }
        }
        function loginButton() {
            if (window.localStorage.getItem("status") != "admin") {
                $("#modalLogin").modal();
            } else {
                $("#modalLogout").modal();
            }

        }
    </script>

</html>
